[Unit]
Description=Sync overlay /%I before shutdown
DefaultDependencies=no
After=sysinit.target
Before=basic.target shutdown.target
Conflicts=shutdown.target
RequiresMountsFor=/%I /overlay/%I/rw

[Service]
Type=oneshot
ExecStop=/usr/local/bin/overlay_synch /%I
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
